td {
	border: 1px solid white;
	height: 120px;
	width: 120px;
	font-size: 80px;
	text-align: center;
}
.white{color : #fff;}

#game{
	margin-left: 400px;
	margin-top: 100px;
}
table{
	float: left;
	background-color: black; 
	box-shadow: 10px 9px 9px black;
}
.btn{ 
	margin-left: 50px;
	margin-top: 20px;
	border-size: 5px;
	background-color: grey;
	font-size: 25px;
	box-shadow: 10px 7px 7px black;
}
h1{
	text-indent: 450px;
}

#p1{ 
	color: red; 
	text-indent: 50px;
}
